body {
  text-align: center;
}

h1, h2 {
  margin-top: 100px;
}

h2 {
  font-size: 35px;
}

.height_200 {
  height: 200px;
}

.margin_top_25 {
  margin-top: 25px;
}

.back_ground {
  background-color: #f9f9f9;
}
